$primary: #094151;
$control-grey: #DFE6E8;
$theme-colors: ( 
    "primary": $primary,
    "control-grey": $control-grey,
    "warning": #ffc107,
    "light-grey": #f6f6f6,
    "adh-orange": #ff6f47,
    "adh-brown": #c2b59b,
    "adh-red": #e51c23,
);
$border-radius: 6px;

@import "../node_modules/bootstrap/scss/bootstrap";